.header {
    
background: rgb(255,255,255);
/* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); */
    padding: 12px 0;
    position: relative;
    z-index: 100;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

/* Align nav to the left */
.header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns the content to the left */
    padding: 0 20px;
    width: 100%;
}

/* Navigation Links */
.nav-links {
    color: black;
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
}

/* Individual Navigation Items */
.nav-links li {
    font-family: "Favorit SSENSE Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.36;
    letter-spacing: .09px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}
.header {
    margin-top: 5px;
}
.nav-links li:hover {
    /* color: #ffccff; Optional hover effect */
    text-decoration: underline;
}